<div class="border-bottom row" style="margin-bottom:16px;padding-bottom:8px;">
  <div class="col-2">
    <img src="{{tour['image_url']}}"
         alt="{{ tour['tour_name'] }}"
         style="width: 100%; height: auto;">
  </div>
  <div class="col-8">
    <h4 style="color:rgb(120,120,120); margin-bottom:4px;">
      {{tour['tour_name']}}
    </h4>
    <p>Destination: {{tour['destination']}} </br> 
       Start from  {{tour['start_date']}} and ending at {{tour['end_date']}} </p>
    <p>
      {{ tour['details'] }}
    </p>
  </div>
  <div class="col-2 padding-right:16px">
    <a href="/tour/{{tour['id']}}" type="button" class="btn btn-outline-primary float-right align-middle" >Book Tour</a>
  </div>